<!DOCTYPE html>
<html>
  <head>
    <title>Nightlife App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      var authuser = '<%= authuser %>';
            
      function going(title) {
        // now post to node server
        $.ajax({
          url: '/going', 
          type: 'POST', 
          contentType: 'application/json', 
          data: JSON.stringify({"title": title})
          //,
          //success: refreshPage() 
        })
      }
      
      function dataReady(data) {
        
        // this is the event data. display this first. 
        var str = "";
        var len = data.events.event.length;
        console.log("data = " + JSON.stringify(data));
        for (var i=0; i<len; i++) {          
          var title = data.events.event[i].title;
          var desc = data.events.event[i].description;
          if (desc === null)
            desc = "No description available";
          else
            desc = desc.substring(0,300);
          str += "<button class='" + title + "' onclick='going(\"" + title + "\")' >0 GOING</button>"
          str += "<span>" + data.events.event[i].start_time + " " + title + "</span>";
          str += "<p>" + desc + "</p>";
        }
        //console.log("str = " + JSON.stringify(str));       
        $(".status").html(str);
        
        // now that the event data has been rendered, we need to query database for 'going' data
        // TBD
      }
      
      $(document).ready(function() {
        
        
        myHeader();         
        
        $("#submit").click(function() {
          var username = $("#username").val();        
          var password = $("#password").val();
          console.log("username = " + username);
          
          var url = "https://api.eventful.com/json/events/search?app_key=qkZtngr4pg4jdrzb&keywords=concert&location=phoenix&date=today";
          
          //$.getJSON(url dataReady);
          
          $.ajax({
            dataType: "jsonp",
            url: url,
            success: dataReady
          });
          
          // now post to node server
          /*
          $.ajax({
              url: '/proclogin', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({"username":username, "password":password}),
              success:  function () { setTimeout(function () { loginSuccess(); }, 1000) },
              error: function (json) { 
                console.log("json.status=" + json.status);
                setTimeout(function () { loginError(); }, 1000) 
              }
          });
          */
          
        });
      });
      
    </script>
  </head>
  <body>
    <header class="myhdr">
    </header>
    <div id="mainform">   
      <!-- Required Div Starts Here -->
      <form id="form">
        <input type="button" id="submit" value="Search"/>
      </form>
    </div>
    <div class="status">      
    </div>
    <script src="/client.js"></script>    
  </body>
</html>